@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0');
@import "./bootstrap/scss/bootstrap-grid.scss";
@import "src/assets/scss/menu/navigation";
@import "src/assets/scss/utility/utility";

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #757575;
}

body {
  padding: 0;
  margin: 0;
  background: #e2e2e2;
}

#app {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* we will explain what these classes do next! */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.page {
  display: flex;

  @include media-breakpoint-down(lg) {
    display: initial;
  }

  .container {
    overflow: hidden;
    padding: 50px 24px;
    margin-left: calc(170px + 2rem);

    @include media-breakpoint-down(lg) {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      margin: 56px auto 0;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 2rem 1.2rem;
    }
  }

  h1 {
    font-family: 'Unbounded', cursive;
    color: #0a0a0a;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(md) {
      font-size: 28px;
      margin-bottom: 0.5rem;
    }
  }

  p {
    font-family: 'Barlow', sans-serif;
    color: #0a0a0a;
    margin-top: 0;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .apps {
    margin-top: 3rem;
    display: grid;
    grid-gap: 24px 12px;
    grid-template-columns: repeat(4, 200px);

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(3, 140px);
      grid-gap: 12px;
      margin-top: 2rem;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(2, 140px);
      grid-gap: 12px;
    }

    .app-card {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-decoration: none;

      @include media-breakpoint-down(md) {
        height: 140px;
        width: 140px;
      }

      .app-img {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0a0a0a;

        .material-symbols-outlined {
          font-size: 64px;

          @include media-breakpoint-down(md) {
            font-size: 36px;
          }
        }
      }

      .app-title {
        font-family: "Unbounded", cursive;
        text-align: center;
        color: #0a0a0a;
        font-size: 16px;
        line-height: 130%;

        @include media-breakpoint-down(md) {
          font-size: 14px;
        }
      }
    }
  }

  .card-v1 {
    display: flex;
    background: white;
    margin-bottom: 1rem;
    border: 2px solid #0a0a0a;
    padding: 2rem;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 1.25rem;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border: 2px solid #0a0a0a;
      transition: all ease-in-out 0.2s;
      border-radius: 4px;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &:hover {
      &:after {
        left: 4px;
        top: 4px;
        border-left: none;
        border-top: none;
        border-bottom: 4px solid #0a0a0a;
        border-right: 4px solid #0a0a0a;
      }
    }

    .settings {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: white;
      padding: 1.5rem 2rem;
    }

    .icon {
      position: absolute;
      z-index: 3;
      top: 16px;
      right: 16px;
      transition: all 0.2s ease;
      user-select: none;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #6b6b6b;
        padding: 1rem;
        transition: opacity 0.3s ease;
        background: #e2e2e2;
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    input {
      @include media-breakpoint-down(sm) {
        max-width: 60px;
        width: 100%;
      }
    }
  }

  .percent-calc {
    width: 510px;

    &:hover {
      &:after {
        left: 4px;
        top: 4px;
        border-left: none;
        border-top: none;
        border-bottom: 4px solid #0a0a0a;
        border-right: 4px solid #0a0a0a;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .title {
      font-family: "Unbounded", cursive;
      font-size: 18px;
      color: #0a0a0a;
      margin-bottom: 0.875rem;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .calc {
      display: flex;
      gap: 10px;
      align-items: center;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .copy {
        color: #0a0a0a;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          font-size: 14px;
        }
      }

      .result {
        color: #0a0a0a;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        transition: width ease-in-out 1s;
        white-space: nowrap;

        @include media-breakpoint-down(md) {
          display: block;
          width: 100%;
        }
      }

      input {
        background: none;
        border: 1px solid #0a0a0a;
        border-radius: 4px;
        height: 26px;
        width: 90px;
        color: #0a0a0a;
        font-family: 'Barlow', sans-serif;
        transition: width ease-in-out 0.2s;
        font-size: 16px;
        text-align: center;

        @include media-breakpoint-down(md) {
          width: 70px;
        }

        &:focus {
          outline: 1.5px solid darkgray;
        }
      }
    }
  }
}